# Local Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency folders
node_modules/
dist/
build/
.pnpm-store/

# IDE files
.navigator/
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?